$primary-accent: #;
$secondary-accent: #c7e564;

$primary-back: #ffffff;
$seconndary-back: #fafafa;

$file1: #c6ebca;
$file2: #f9cba1;
$file3: #cedbfb;

$yelow: #fffdbd;

$inactive-icon: #bababa;

$notification: #875ce2;
